${SHARP} Python class for entity ${entity.name} 
${SHARP} Created on $now.date ( $now.time )


${SHARP}
${SHARP} This class defines the ${entity.name} object 
${SHARP}
 
class ${entity.name}:
	
	${SHARP} Default constructor.
	def __init__(self):
		pass
     
	def __init__(self #foreach( $attribute in $entity.attributes ),$attribute.name #end):
		${SHARP} super(${entity.name}Data,self).__init__();
		#foreach( $attribute in $entity.attributes )
self.$attribute.name = $attribute.name;
		#end
